{
  "extends": [
    "stylelint-config-recess-order",
    "stylelint-config-standard",
    "stylelint-config-recommended-scss",
    "stylelint-config-sass-guidelines",
    "stylelint-config-prettier",
    "stylelint-config-prettier-scss",
    "stylelint-config-recommended-vue",
    "stylelint-config-html/vue"
  ],
  "plugins": ["stylelint-sass-render-errors", "stylelint-selector-no-empty"],
  "rules": {
    "property-no-vendor-prefix": null,
    "order/properties-alphabetical-order": null,
    "import-notation": null
  }
}
