html {
  --color-white: #e1e1e6;
  --color-gray-100: #e1e1e6;
  --color-gray-300: #c4c4cc;
  --color-gray-400: #8d8d99;
  --color-gray-500: #7c7c8a;
  --color-gray-600: #323238;
  --color-gray-700: #29292e;
  --color-gray-800: #202024;
  --color-gray-900: #121214;
}
